body {
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
  padding-block: 10px;
  padding-left: 4%;
  padding-right: 4%;
}

@media screen and (min-width: 600px) {
  .header {
    max-width: 960px;
    width: 100%;
  }
}

.headerLogo {}

.headerLogo>img {
  vertical-align: top;
}

.headerGnav {}

.headerGnav__list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.headerGnav__item {
  list-style: none;
}

.headerGnav__item.about {}

.headerGnav__item.bicycle {}

main {
  width: 100%;
}

#mainvisual {
  width: 100%;
  height: 600px;
}

#mainvisual img {
  object-fit: cover;
  object-position: center;
  display: block;
}

@media screen and (min-width: 600px) {
  #mainvisual img {
    width: 100%;
    height: 600px;
    object-fit: cover;/
  }
}