.headerLogo{
  /* Layout Properties */
  position: relative;
  top: 20px;
  left: 292px;
  width: 120px;
  height: 40px;
  /* UI Properties */
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
}


.profile img{
	/* Layout Properties */
	position: relative;
	top: 20px;
	left: 292px;
	width: 8px;
	height: 19px;
	/* UI Properties */
	background: #FFFFFF 0% 0% no-repeat padding-box;
	opacity: 1;
}